.wrapper {
    background-color: rgb(167, 175, 224);
    min-height: 80px;
    max-height: 150px;
    // display: flex;
    // flex-grow: 1;
    // text-align: center;
    // border-radius: 5px;
    // margin: 5px;
    // padding: 5px;
    // * {
    //     max-width: 100%;
    // }
}

.editing {
    align-items: center;
}
